<!DOCTYPE html>
<html>
  <head>
    <title>NagaokaTest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="google-site-verification" content="WLmpASBt8qYIvtUHi_mmYf-gl2jYczrz-p95zVK8Hv0" />
  </head>

  <body>
    <%= yield %>
  </body>
</html>
